# Core Data Processing Libraries
pandas==2.3.1
numpy==2.3.0

# Database Connectors

# Web Scraping & API
requests==2.32.3
beautifulsoup4==4.12.2
urllib3==2.1.0

# Configuration Management
python-dotenv==1.0.0

# Logging & Monitoring
loguru==0.7.3

# Date & Time Handling
pendulum==3.1.0

# pylint
pylint==3.3.7